/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General Stuff*/
:root {
    --primary: #1fff62;
    --primary-hover: #61ff90;
}

* {
    margin: 0;
    border: 0;
    padding: 0,
}

/* Header Style */

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-family: 'Source Code Pro', monospace;
}


/* Body Style */

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper form textarea {
    font-family: 'Source Code Pro', monospace;

    resize: none;
    width: 800px;
    height: 600px;
    margin: 0px 0px 25px 0px;

    padding: 15px;

    border-color: #000000;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
}

.wrapper button {
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    background-color: var(--primary);

    border-radius: 100px;
    border-width: 0;
    border-style: solid;
}

.wrapper button:hover {
    background-color: var(--primary-hover);
}

/* Footer Style */

.footer {
    position: fixed;
    bottom: 25px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h3 {
    font-family: 'Source Code Pro', monospace;
}